<div class="section section-buttons">
    <div class="container">
        <div class="tim-title1">
            <h2>Can 100% renewable energy power the world?</h2>
          </div>
      <div class="row">
        <div class="col-md-6">
          
            <p>Can 100% renewable energy power the world? As the world faces climate change, pollution, and energy security challenges, this question has gained traction. However, transitioning to a completely renewable energy system poses challenges, such as intermittency and scalability of technologies. Despite this,
                 many experts believe a 100% renewable energy system is not only possible but necessary for a sustainable future with continued innovation and investment.</p>
          
        </div>
        <div class="col-md-6">

          <div class="video-container">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/RnvCbquYeIM" frameborder="0" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
  