<div class="wrapper">
    <div class="page-header section-dark" style="background-image: url('assets/img/GettyImages-1373265915.webp')">
        <div class="filter"></div>
        <div class="content-center">
            <div class="container">
              <div class="title-brand">
                <div class="presentation-title-container">

                <h1 class="presentation-title">Clean Energy, Cleaner Future</h1>
            </div>

                <div class="fog-low">
                  <img src="assets/img/fog-low.png" alt="">
                </div>
                <div class="fog-low right">
                  <img src="assets/img/fog-low.png" alt="">
                </div>
              </div>
              <h4 class="presentation-subtitle text-center">Transform your energy footprint and embrace a greener tomorrow with Ecopower</h4>
            </div>
          </div>
        <div class="moving-clouds" style="background-image: url('assets/img/clouds.png'); "></div>
       
    </div>
    <div class="main">
      <app-basicelements></app-basicelements>
      <hr>
      <app-navigation></app-navigation>
      <hr>
      <div class="section">
          <div class="container">
            <div class="row">
                <div class="col-md-12">
                  <div class="tim-title">
                    <h2>Our Providers</h2>
                    
                  </div>
                </div>
                <div class="col-md-6 text-center">
                  <div class="provider">
                    <img src="./assets/img/canadian-solar.png" alt="Provider 1 Logo" width="200" height="100">
                    
                  </div>
                  <div class="provider">
                    <img src="./assets/img/1200px-Enel_Green_Power.svg.png" alt="Provider 1 Logo" width="200" height="100">
                    
                  </div>
                  <div class="provider">
                    <img src="./assets/img/1200px-NextEra_Energy_logo_(1).svg.png" alt="Provider 1 Logo" width="200" height="100">
                    
                  </div>
                </div>
                <div class="col-md-6 text-center">
                  <div class="provider">
                    <img src="./assets/img/Vestas.svg.png" alt="Provider 2 Logo" width="200" height="70">
                    
                  </div>
                  <div class="provider">
                    <img src="./assets/img/1200px-Logo_EDF_Renouvelables.svg.png" alt="Provider 1 Logo" width="200" height="100">
                    
                  </div>
                  <div class="provider">
                    <img src="./assets/img/Logo_Enercon.svg.png" alt="Provider 1 Logo" width="200" height="100">
                    
                  </div>
                </div>
              </div>
              
            
              <br/>

          </div>
      </div>
     <hr>
      <div class="section" id="carousel">
        <div class="container">
          <div class="tim-title">
            <h2>Discover Our Products</h2>
          </div>
          <div class="row">
            <div class="col-md-8 mr-auto ml-auto">
              <div class="card page-carousel">
                <ngb-carousel>
                  <ng-template ngbSlide>
                    <img src="./assets/img/renewable-energy.jpg" alt="Random first slide">
                    <div class="carousel-caption">
                      <h3>Renewable Energy Options</h3>
                      <p>Discover our range of renewable energy options, including solar, wind, and hydro power.</p>
                    </div>
                  </ng-template>
                  <ng-template ngbSlide>
                    <img src="./assets/img/istockphoto-1247794854-612x612.jpg" alt="Random second slide">
                    <div class="carousel-caption">
                      <h3>Solar Energy</h3>
                      <p>Harness the power of the sun to provide clean, sustainable energy for your home or business.</p>
                    </div>
                  </ng-template>
                  <ng-template ngbSlide>
                    <img src="./assets/img/photo-1587168173357-99c7e95fb5cd.jpg" alt="Random third slide">
                    <div class="carousel-caption">
                      <h3>Wind Energy</h3>
                      <p>Experience the power of the wind and reduce your carbon footprint with our wind energy solutions.</p>
                    </div>
                  </ng-template>
                </ngb-carousel>
                <div class="text-center">
                  <button class="btn btn-primary mt-3 mb-3">See More</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
        <div class="section section-dark section-nucleo-icons">
            <div class="container">
                <div class="row">



                </div>
            </div>
        </div>
        <div class="section section-dark">
            <div class="container">
                <div class="row">

                </div>
            </div>
        </div>
        <div class="section section-image section-login" style="background-image: url('assets/img/login-image.jpg');">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-12 ml-auto mr-auto">


                    </div>
                </div>
            </div>
        </div>
        <div class="section section-dark">
            <div class="container">
               
            </div>
        </div>
        <div class="section">

        </div>
    </div>
</div>
