<div class="wrapper">
    <div class="page-header section-dark" style="background-image: url('assets/img/GettyImages-1373265915.webp')">
        <div class="filter"></div>
        <div class="content-center">
            <div class="container">
              <div class="title-brand">
                <div class="presentation-title-container">

                <h1 class="presentation-title">Clean Energy, Cleaner Future</h1>
            </div>

                <div class="fog-low">
                  <img src="assets/img/fog-low.png" alt="">
                </div>
                <div class="fog-low right">
                  <img src="assets/img/fog-low.png" alt="">
                </div>
              </div>
              <h4 class="presentation-subtitle text-center">Transform your energy footprint and embrace a greener tomorrow with Ecopower</h4>
            </div>
          </div>
        <div class="moving-clouds" style="background-image: url('assets/img/clouds.png'); "></div>
       
    </div>
    <div class="main">
      <app-basicelements></app-basicelements>
      <hr>
      <app-navigation></app-navigation>
      <hr>
      <div class="section">
          <div class="container">
            <div class="row">
                <div class="col-md-12">
                  <div class="tim-title">
                    <h2>Our Providers</h2>
                    
                  </div>
                </div>
                <div class="col-md-6 text-center">
                  <div class="provider">
                    <img src="./assets/img/canadian-solar.png" alt="Provider 1 Logo" width="200" height="100">
                    
                  </div>
                  <div class="provider">
                    <img src="./assets/img/1200px-Enel_Green_Power.svg.png" alt="Provider 1 Logo" width="200" height="100">
                    
                  </div>
                  <div class="provider">
                    <img src="./assets/img/1200px-NextEra_Energy_logo_(1).svg.png" alt="Provider 1 Logo" width="200" height="100">
                    
                  </div>
                </div>
                <div class="col-md-6 text-center">
                  <div class="provider">
                    <img src="./assets/img/Vestas.svg.png" alt="Provider 2 Logo" width="200" height="70">
                    
                  </div>
                  <div class="provider">
                    <img src="./assets/img/1200px-Logo_EDF_Renouvelables.svg.png" alt="Provider 1 Logo" width="200" height="100">
                    
                  </div>
                  <div class="provider">
                    <img src="./assets/img/Logo_Enercon.svg.png" alt="Provider 1 Logo" width="200" height="100">
                    
                  </div>
                </div>
              </div>
              
            
              <br/>

          </div>
      </div>
     <hr>
      <div class="section" id="carousel">
        <div class="container">
          <div class="tim-title">
            <h2>Discover Our Products</h2>
          </div>
          <div class="row">
            <div class="col-md-8 mr-auto ml-auto">
              <div class="card page-carousel">
                <ngb-carousel>
                  <ng-template ngbSlide>
                    <img src="./assets/img/renewable-energy.jpg" alt="Random first slide">
                    <div class="carousel-caption">
                      <h3>Renewable Energy Options</h3>
                      <p>Discover our range of renewable energy options, including solar, wind, and hydro power.</p>
                    </div>
                  </ng-template>
                  <ng-template ngbSlide>
                    <img src="./assets/img/istockphoto-1247794854-612x612.jpg" alt="Random second slide">
                    <div class="carousel-caption">
                      <h3>Solar Energy</h3>
                      <p>Harness the power of the sun to provide clean, sustainable energy for your home or business.</p>
                    </div>
                  </ng-template>
                  <ng-template ngbSlide>
                    <img src="./assets/img/photo-1587168173357-99c7e95fb5cd.jpg" alt="Random third slide">
                    <div class="carousel-caption">
                      <h3>Wind Energy</h3>
                      <p>Experience the power of the wind and reduce your carbon footprint with our wind energy solutions.</p>
                    </div>
                  </ng-template>
                </ngb-carousel>
                <div class="text-center">
                  <button class="btn btn-primary mt-3 mb-3">See More</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <div class="fw-col-xs-12" style=" text-align: center;  ">
        <!--style default-->
      
      
      
        <style>

.step-2{
  margin-left: 70px;
  margin-top: 40px;
}
.step-3{
  margin-left: 70px;
}

.step-desc {
  text-align: center;
}
.sec-title {
  margin-bottom: 0.1cm;
}

            
          
          
        </style>
        

        <section id="marketplace" class="sec-steps bg-gradient-vertical steps-area" style="background: linear-gradient(90deg, rgba(155, 138, 229, 0.6), rgba(255, 255, 255, 0.8)) !important;">            <div class="container">
                <div class="fw-row">
	<div class="fw-col-xs-12" style=" text-align: center;  ">
	<!--style default-->
<h2 class="sec-title ex" style="text-align: center!important; ">
    Marketplace</h2>
<div class="hr" style="background-image:url(https://power2peer.com/wp-content/uploads/2019/05/hr0.png);"></div>
<p class="subheader" style="text-align: center;  ">
  Buy and sell power in the marketplace using your mobile device. Never be without power; EcoPower gives you access to clean, resilient energy sourced from your community. With the clean energy marketplace, many will even achieve 100% sustainability as prosumers.    </p>




                <div class="container">
                    <div class="fw-row">
      <div class="row row-1">
          <div class="col-sm-18 col-lg-10 col-lg-offset-1 col-md-12">
              <div class="row row-2">
                      
                          <div class="col-sm-6 step-1 col-md-3 d-flex align-items-center justify-content-center flex-column" style="">
                              <img src="./assets/img/p2.png" alt="step-1" class="animate delay-a">
                              <div class="step-desc" style="text-align: center!important;">
                                  <span>01</span>
                                  <h4 style="">Marketplace</h4>
                                  <hr>
                                  <p style="text-align: center;">At EcoPower we're expanding the frontiers of renewable energy.</p>
                              </div>
                          </div>
                              
                          <div class="col-sm-6 step-2 col-md-4 d-flex align-items-center justify-content-center flex-column" style="">
                              <img src="./assets/img/p1.png" alt="step-1" class="animate delay-a">
                              <div class="step-desc" style="text-align: center;">
                                  <span>02</span>
                                  <h4 style="">Sell Clean Energy - Choose Type</h4>
                                  <hr>
                                  <p style="">EcoPower™ is a free downloadable app that is designed to bring you clean energy at the best price by reducing the transmission and management costs of the kilowatts delivered.</p>
                              </div>
                          </div>
                              
                          <div class="col-sm-6 step-3 col-md-3 d-flex align-items-center justify-content-center flex-column" style="">
                              <img src="./assets/img/p3.png" alt="step-1" class="animate delay-a">
                              <div class="step-desc">
                                  <span>03</span>
                                  <h4 style="">Buying</h4>
                                  <hr>
                                  <p style="">Customers will have access through the app to a ledger of all transactions on the blockchain as well as their billing and usage statistics.</p>
                              </div>
                          </div>
                                  </div>
          </div>
      </div></div>
    </div>
             
      </div>
    </div>
</div>
              </section>
        
                    

      
        <div class="section section-dark">
            <div class="container">
                <div class="row">

                </div>
            </div>
        </div>
        <div class="section section-image section-login" style="">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-12 ml-auto mr-auto">


                    </div>
                </div>
            </div>
        </div>
        <div class="section section-dark">
            <div class="container">
               
            </div>
        </div>
        <div class="section">

        </div>
    </div>
</div>
