<div class="wrapper">
  <div class="page-header" style="background-image: url('./assets/img/wind.jpg');">
      <div class="filter"></div>
          <div class="container">
            <div class="row">
              <div class="col-md-6">
                <div class="card card-register">
                  <div class="card-body">
                    <h2 class=" text-center mb-4">Login</h2>
                    <form class="login-form">
                      <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" id="email" placeholder="Email">
                      </div>
                      <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" id="password" placeholder="Password">
                      </div>
                      <button class="btn btn-danger btn-block btn-round">Login</button>
                    </form>
                    <div class="forgot text-center">
                      <a href="#" class="btn btn-link btn-danger">Forgot password?</a>
                    </div>
                  </div>
                </div>
              </div>
            
              <div class="col-md-6">
                <div class="card card-registerr">
                  <div class="card-body">
                    <h2 class="text-center mb-2">Registration</h2>
                    <form class="register-form">
                      <div class="form-group">
                        <label for="name">Name</label>
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text">
                              <i class="nc-icon nc-single-02"></i>
                            </span>
                          </div>
                          <input type="text" class="form-control" id="name" placeholder="Enter your name" (focus)="focus=true" (blur)="focus=false">
                        </div>
                      </div>
              
                      <div class="form-group">
                        <label for="Email">Email</label>
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text">
                              <i class="nc-icon nc-pin-3"></i>
                            </span>
                          </div>
                          <input type="text" class="form-control" id="Email" placeholder="Enter your Email" (focus)="focus=true" (blur)="focus=false">
                        </div>
                      </div>
              
                      <div class="form-group">
                        <label for="phone">Phone</label>
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text">
                              <i class="nc-icon nc-mobile"></i>
                              <span>+216</span>
                            </span>
                          </div>
                          <input type="text" class="form-control" id="phone" placeholder="Enter your phone number" (focus)="focus=true" (blur)="focus=false">
                        </div>
                      </div>
              
                      <div class="form-group">
                        <label for="password">Password</label>
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text">
                              <i class="nc-icon nc-key-25"></i>
                            </span>
                          </div>
                          <input type="password" class="form-control" id="password" placeholder="Enter your password" (focus)="focus=true" (blur)="focus=false">
                        </div>
                      </div>
              
                      <div class="form-group">
                        <label for="confirm-password">Confirm Password</label>
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text">
                              <i class="nc-icon nc-key-25"></i>
                            </span>
                          </div>
                          <input type="password" class="form-control" id="confirm-password" placeholder="Confirm your password" (focus)="focus=true" (blur)="focus=false">
                        </div>
                      </div>
              
                      <div class="form-group">
                        <label for="role">Role</label>
                        <div class="form-check">
                          <label class="radio-label">
                            <input type="radio" name="role" class="form-check-input" value="provider">
                            <span class="radio-custom"></span>
                            <span class="radio-label-text">Provider</span>
                          </label>
                          <label class="radio-label">
                            <input type="radio" name="role" class="form-check-input" value="client" checked>
                            <span class="radio-custom"></span>
                            <span class="radio-label-text">Client</span>
                          </label>
                        </div>
                        
                          </div>
                      
                            <button class="btn btn-danger btn-block btn-round">Register</button>
                          </form>
                        </div>
                      </div>
                      
                    </div>
                  </div>

            </div>
    </div>
</div>