
<div class="section section-buttons">
    <div class="container">
        <div class="tim-title1">
            <h2>Introducing EcoPower: Your Solution for a Sustainable Future</h2>
          </div>
      <div class="row">
        <div class="col-md-6">
            <div class="video-container">
                <iframe width="560" height="315" src="http://www.youtube.com/embed/M" frameborder="0" allowfullscreen></iframe>
              </div>
          
            
          
        </div>
        <div class="col-md-6">

          <div class="video-container">
            <p>EcoPower is a platform dedicated to promoting sustainable practices and reducing carbon footprints. Our mission is to provide innovative solutions for the transition towards a 100% renewable energy system. With our cutting-edge technologies and commitment to sustainability, we strive to create a cleaner, greener future for generations to come. Join us today and be a part of the solution!</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  